[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "rofi-iwd-menu"]
	path = rofi-iwd-menu
	url = https://github.com/TimTinkers/rofi-iwd-menu
[submodule "rofi"]
	path = rofi
	url = https://github.com/adi1090x/rofi
